<h4>Application Form</h4>
<form action="/{{title}}/apply" method="POST">
  <div class="mb-2">
    <label for="">Full Name</label><br>
    <input type="text" required name="name" placeholder="홍길동">
  </div>

  <div class="mb-2">
    <label for="">Birthday</label><br>
    <input type="date" name="birthday" placeholder="2000-01-01">
  </div>

  <div class="mb-2">
    <label for="">Gender</label><br>
    <input type="text" name="gender" placeholder="male">
  </div>

  <div class="mb-2">
    <label for="">Mobile</label><br>
    <input type="number" required name="mobile" placeholder="010-5555-7777">
  </div>

  <div class="mb-2">
    <label for="">Address</label><br>
    <textarea cols="30" rows="3" name="address"></textarea>
  </div>
  
  <div>
    <input type="submit">
  </div>  
</form>