<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'bootstrap.html' %}
</head>
<body>
  {% include 'nav.html' %}
  {% include 'banner.html' %}
  
  <div class="container">
    <h1 class="text-center mt-4 mb-4">{{title}} Homepage.</h1>
    
    <h2 class="text-center mt-4 mb-2">About {{title}}</h2>
    <div class="row" style="margin-bottom:16px">
      <div class="col-md-6">
    
    <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <p>
      </div>
      <div class="d-none d-md-block col-md-6">
      <img src="/static/RBS-left.jpg" style="height:320px; border-radius:4px;" >
      </div>
    </div>
      <h2 class="text-center mt-4 mb-4">INDEX</h2>
      <div>
<!--         {% for content in contents %} -->
          {% include 'display.html'%}
<!--         {% endfor %} -->
      </div>
    </p>
    <div style="text-align:center;">
      <a class="btn btn-primary btn-lg" href="mailto:sskyw32@gmail.com?subject=RBS%EC%97%90%20%EB%8C%80%ED%95%9C%20%EC%A7%88%EB%AC%B8&body=My%20Name%20%3A%20%3Chear%20my%20name%3E%0D%0A%0D%0AMy%20Mail%20%3A%20%3Cmail%20ID%3E%0D%0A%0D%0AMy%20H.p%20%3A%20%3CPhone%20Number%3E%0D%0AMy%20Question%20%3A%20%3CQuestion%3E">Contact Us</a>
      <p class="mt-4">Copyright 2023, ZonSystem.co.kr</p>
    </div>
  </div>
  {% include 'footer.html' %}
</body>
  
</html>