<div class="border-bottom row" style="margin-bottom:16px; padding-bottom:8px;">
  <nav class="navbar shadow-sm fixed-top bg-white">
    <div class="container-fluid col-10">
      <a class="navbar-brand" href="/">
        <img src="/static/logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        RBS
      </a>
    </div>
    <div class="col-1">
      <button onclick="sign()" class="btn btn-outline-primary" style="margin-top:10px;">Sign in</button>
      <script>
        function sign() {
            var sign = prompt("input sign in");
        }
      </script>
    </div>
  </nav>
  <div style="height:40px"></div>
</div>